.main{
    font-family : Futura, "Garamond";
    color : black;
    font-weight : bold;
}

.main2{
  font-weight : bold;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: purple;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding-top: 6px;
    padding-right:5px;
    padding-left:5px;
    padding-bottom:40px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  html, body {
    
    
    height:100%;
    
  }
body{
  display: grid;
  justify-items:center;
}

  
#bm {
    width: 500px;
   
  }